:root {  
  --border-radius: 12px;   

  /*backgrounds color*/
  --background-easy-gray: #F5F5F5;/* used in container full screen */  
  --background-secondary: #F3F5F6;
  --custom-gray-light: rgba(200, 200, 200, 0.9);
  --custom-purple-classifield: #5A63B5; /*classifiels purple*/
  /* --custom-gray-light: rgba(90, 99, 181, 0.5); */
  --custom-purple-classifield-with-opacity: rgba(90, 99, 181, 0.7);

  /* text colors */
  --text-dark: #737380;
  --delete-color: #D33838;

  /* BORDER COLORS */
  --orange-low: #FFA585;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
